 * {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  color:  red;
  text-align: center;
  background: url(foto5.jpg);
}

.header h1 {
  font-size: 70px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #3CC5E7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #58E73C;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* CONTACTANOS */
. CONTACTANOS {
  width: 300px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
  
}

.CONTACTANOS h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.CONTACTANOS.botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 16px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.card{
  background-color: white;
  padding: 30px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }

.carousel{ 
  $scrollbarHeight: 4px;
  $scrollbarColor : #D82B6A;
  $carouselHeight : 200px;
  $fadeWidth      : 50px;
  $padding        : 8px;
  $radius         : 8px;         
  $bg             : white;
  
  display: block; 
  font-size: 0;
  border-radius: $radius;
  padding: $padding;
  box-shadow: 0 4px 10px rgba(black, .15);
  background: $bg;
  transform: translateZ(0);  
  height: $carouselHeight;
  -webkit-overflow-scrolling:touch;

  .touch &{ overflow:auto; } /* for tablets */

  &[data-at*='left'] > .wrap{
      &::before{ 
        opacity:1;
        text-indent:-50px; 
    }
  }
  
  &[data-at*='right'] > .wrap{
      &::after{ 
        opacity:1;
        text-indent:-50px; 
    }
  }

  // scrollbar
  &::after{  
    content: '';
    pointer-events:none;
    position:absolute; 
    z-index: 4;
    bottom: -4px; 
    left: 0;
    background: $scrollbarColor;
    height: $scrollbarHeight;
    border-radius: $scrollbarHeight;
    opacity: 0;
    width: var(--scrollWidth, 0);
    left: var(--scrollLleft, 0);
    transition: opacity .2s, bottom .2s;
  }

  &:hover{  
    &::after{ opacity:1; bottom:-10px; }
  }

  > .wrap{ 
    overflow:hidden;
    border-radius: $radius - $padding/2;
    
    &::before, 
    &::after{ 
      content: '\2039'; 
      opacity: 0; 
      position: absolute; 
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 2;
      width: $fadeWidth;
      font-size: 80px;
      text-indent:-30px;
      line-height: $carouselHeight;
      font-family: monospace;
      color: #555;
      font-weight: bold;
      border-radius: $radius;
      pointer-events: none;
      transition: .2s ease-out; 
      background:linear-gradient(to right, white 20%, transparent); 
    }

    &::after{ 
      transform:rotate(180deg);
      left: auto;
      right:0; 
    }

    > ul{ 
      list-style:none; 
      white-space:nowrap; 
      height:$carouselHeight;

      > li{ 
          display:inline-block; 
          vertical-align:middle; 
          height:100%; 
          margin:0 0 0 5px; 
          position:relative; 
          overflow:hidden; 
          transition:0.25s ease-out;
          &:first-child{ margin:0; }

          > img{ 
             display:block; 
             height:100%; 
             margin:auto; 
             vertical-align:bottom; 
             position:relative; 
             z-index:1; 
             transition:1s ease; 
          }
          //&:hover img{ transform:scale(1.1); }
        }
     }
  }
}

body{ background:#EEE; }

// demo only
.carousel{ 
  position: absolute;
  top:0; 
  right:0; 
  bottom:0; 
  left:0;
  width: 50%; 
  max-width: 900px;
  min-width: 550px;
  margin: auto;
}